* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general styling */

body,
button {
  background-color: hsl(0, 0%, 95%);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  text-align: left;
  margin: 0 0 1rem 0;
}

p {
  font-family: "Lexend Deca", sans-serif;
  text-align: left;
  display: inline-block;
  width: 50%;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.9375rem;
}

/* card styling */

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 4rem 0 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.suvCard,
.sedanCard,
.luxuryCard {
  width: 40%;
  height: 22rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30%;
}
.icon {
  position: relative;
  right: 13%;
  margin: 2rem 0 0 0;
}

.sedanCard {
  background-color: hsl(31, 77%, 52%);
  border-radius: 5px 5px 0 0;
}

.suvCard {
  background-color: hsl(184, 100%, 22%);
}

.luxuryCard {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 5px 5px;
}

/* button styling */

.btn {
  width: 8rem;
  margin: 1em;
  padding: 0.8em 0.8em;
  border-radius: 30px;
  text-transform: capitalize;
  position: relative;
  right: 5%;
  border: 0;
}

.btn {
  color: hsl(31, 77%, 52%);
}

.btn1:hover {
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  cursor: pointer;
  background-color: hsl(31, 77%, 52%);
}

.btn2 {
  color: hsl(184, 100%, 22%);
}

.btn2:hover {
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  cursor: pointer;
  background-color: hsl(184, 100%, 22%);
}

.btn3 {
  color: hsl(179, 100%, 13%);
}
.btn3:hover {
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  cursor: pointer;
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */

@media screen and (max-width: 670px) {
  p {
    width: 55%;
  }
  .suvCard,
  .sedanCard,
  .luxuryCard {
    width: 18rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 50rem;
    height: 85vh;
    margin: 4rem 0 2rem 0;
  }
  .suvCard,
  .sedanCard,
  .luxuryCard {
    width: 100%;
    height: 25rem;
  }

  .sedanCard {
    border-radius: 5px 0 0 5px;
  }

  .luxuryCard {
    border-radius: 0 5px 5px 0;
  }

  .attribution {
    bottom: 0;
  }
}
